<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>

    <ul>
        <li><strong>BrightFuture Builders</strong></li>
        <li><strong>GreenHarvest Growers</strong></li>
        <li><strong>UnityServe Volunteers</strong></li>
    </ul>

</main>

<%- include('partials/footer') %>